      * {
        margin: 0;
        padding: 0;
      }

      img {
        vertical-align: top;
        width: 100%;
      }

      .main {
        margin: 0 auto;
        width: 1000px;
        margin-top: 10px;
      }

      .fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
      }